// src/styles.scss  (M2 theming)
@use '@angular/material' as mat;

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent:  mat.m2-define-palette(mat.$m2-pink-palette);
$warn:    mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
));

@include mat.all-component-themes($theme);
